{% extends "Site/base.html" %}

{% block conteudo %}

    <!-- Estilos customizados para esse template -->
    <link href="../../static/Site/css/sobre.css" rel="stylesheet">

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal">Seja um mensalista</h1>
            <p class="lead font-weight-normal">Tenha acesso a mais de 100 mil vagas em 160 operações no Brasil inteiro.
                Sua vaga garantida nos lugares que você frequenta, livre de filas, sem estar sujeito a lotação e com
                economia.</p>
            <a class="btn btn-outline-secondary" href="{% url "site-preco" %}">Saiba mais</a>
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
            <div class="my-3 py-3">
                <h2 class="display-5">Tecnologia aliada a redução de custos e aumento de receita</h2>
                <p class="lead">A única empresa brasileira do setor que disponibiliza tecnologia para controle remoto
                    das operações.</p>
            </div>
            <div class="bg-light shadow-sm mx-auto"
                 style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                <img src="../../static/img/cco.jpg" alt="img do cco" width="auto">
            </div>
        </div>
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 p-3">
                <h2 class="display-5">Reserve Online e estacione com desconto</h2>
                <p class="lead">Mais comodidade e economia para você.</p>
            </div>
            <div class="bg-dark shadow-sm mx-auto"
                 style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                <img src="../../static/img/reserva-online.jpg" width="420px">
            </div>
        </div>
    </div>
{% endblock conteudo %}
