{% extends "Site/base.html" %}


{% block conteudo %}

    <!-- Estilos customizados para esse template -->
    <link href="../../static/Site/css/suporte.css" rel="stylesheet">

    <div class="container">

        <div class="py-5 text-center">
            <p class="lead">Porfavor, seja especifico ao enviar seu problema, para que
                possamos resolver o mais rapido possivel
            </p>
        </div>

        <form class="needs-validation" novalidate>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="primeiroNome">Nome</label>
                    <input type="text" class="form-control" id="primeiroNome" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        É obrigatório inserir um nome válido.
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="sobrenome">Sobrenome</label>
                    <input type="text" class="form-control" id="sobrenome" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        É obrigatório inserir um sobre nome válido.
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="nickname">Nickname</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">@</span>
                    </div>
                    <input type="text" class="form-control" id="nickname" placeholder="Nickname" required>
                    <div class="invalid-feedback" style="width: 100%;">
                        Seu nickname é obrigatório.
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="fulano@exemplo.com" required>
                <div class="invalid-feedback">
                    Por favor, insira um endereço de e-mail válido.
                </div>
            </div>

            <div class="mb-3">
                <label for="endereco">Texto</label>

                <textarea rows="10" class="form-control" id="texto" required></textarea>
                <div class="invalid-feedback">
                    Por favor, insira seu problema.
                </div>
            </div>

            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Enviar</button>
        </form>
    </div>

    <script>
        // Exemplo de JavaScript para desativar o envio do formulário, se tiver algum campo inválido.
        (function () {
            'use strict';

            window.addEventListener('load', function () {
                // Selecione todos os campos que nós queremos aplicar estilos Bootstrap de validação customizados.
                var forms = document.getElementsByClassName('needs-validation');

                // Faz um loop neles e previne envio
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>

{% endblock conteudo %}